/*
* Buttons
*
*/

.buttons {
	display: block;
	position: relative;
	width: auto;
	height: auto;
}

.btn {
	cursor: pointer;
	display: inline-block;
	position: relative;
	background-color: transparent;
	color: #000;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 160ms ease-in;
	-webkit-transition: all 160ms ease-in;
}

.btn:hover {
	text-decoration: none;
}

/**
 * Sizes
 * 
 */

.btn.btn-small {
	padding: 5px 10px 5px 10px;
}

.btn.btn-medium {
	padding: 10px 18px 10px 18px;
}

.btn.btn-wide {
	padding: 10px 25px 10px 25px;
}

.btn.btn-primary {
	padding: 2px 6px;
	border: 1px solid rgba(0, 0, 0, 0.75);
	color: rgba(0, 0, 0, 0.80);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.06em;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
	color: #fff;
	background-color: #000;
}

.btn.btn-secondary {
	padding: 4px 8px;
	border: 1px solid rgba(0, 0, 0, 0.75);
	color: rgba(0, 0, 0, 0.80);
	font-size: 14px;
	font-weight: 400;
	background-color: #fff;
}

.btn.btn-secondary:focus,
.btn.btn-secondary:hover {
	color: #fff;
	background-color: #000;
}


.btn.btn-beta {}

.btn-beta:focus,
.btn.btn-beta:hover {}



.btn-one {
	padding: 3px 6px;
	border-radius: 1px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.75);
	font-size: 13px;
	font-weight: 400;
	background-color: transparent;
}

.btn-one:focus,
.btn-one:hover {
	color: #fff;
	background-color: #000;
}



.btn-two {
	color: rgba(0, 0, 0, 0.75);
	font-size: 32px;
	font-weight: 300;
	text-transform: none;
	background-color: transparent;
}

.btn-two:focus,
.btn-two:hover {
	text-decoration: underline;
}


.btn-three {
	padding: 5px 8px 4px 8px;
	border-radius: 4px;
	border: 1px solid #898989;
	color: rgba(0, 0, 0, 0.75);
	font-size: 12px;
	font-weight: 400;
}

.btn-three:focus,
.btn-three:hover {
	color: #fff;
	border: 1px solid #464646;
	background-color: #464646;
	text-decoration: none;
}


.btn-four {
	padding: 10px 16px 10px 16px;
	border-radius: 6px;
	background: linear-gradient(240deg, rgba(254,171,74,1) 34%, rgba(250,139,60,1) 100%);
	color: #fff;
	font-size: 12px;
	font-weight: 600;
}

.btn-four:focus,
.btn-four:hover {
	color: #fff;
	background: linear-gradient(240deg, rgb(249, 153, 42) 34%, rgb(251, 124, 34) 100%);
	text-decoration: none;
}


.btn-four {
	padding: 10px 16px 10px 16px;
	border-radius: 6px;
	background: linear-gradient(240deg, rgba(254,171,74,1) 34%, rgba(250,139,60,1) 100%);
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.btn-four:focus,
.btn-four:hover {
	color: #fff;
	background: linear-gradient(240deg, rgb(249, 153, 42) 34%, rgb(251, 124, 34) 100%);
	text-decoration: none;
}










