/* Card - Início
/* ******************************************** */

.card {}

.card-collection {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  width: calc(180px - 20px);
  height: calc(180px - 20px);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card-collection-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(56%, rgba(255,255,255,0)), color-stop(68%, rgba(255,255,255,0.67)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.card-collection p {
  margin: 0;
}

.card-collection-title {
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
}

.card-collection-info {
  font-size: 14px;
  font-weight: 400;
  z-index: 1;
}


.card-collection-secondary {
  align-items: flex-start;
  padding: 15px;
  width: calc(150px - 30px);
  height: calc(150px - 30px);
}

.card-collection-secondary::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: opacity 160ms ease;
}

.card-collection-secondary:hover {
  text-decoration: none;
}

.card-collection-secondary:hover::after {
  opacity: 1;
}

.card-collection-secondary .card-collection-title {
  margin-left: 5px;
  color: #6B6B6B;
  letter-spacing: -0.5pt;
  font-size: 16px;
  font-weight: 600;
}

/* Card - Fim
/* ******************************************** */