.collapse::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 1%;
  background-color: #797979;
  opacity: 1;
  z-index: 1;
  transform: translateX(-3px);
  transition: all 160ms ease;
}

.collapse {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  background-color: #fff;
  overflow: hidden;
}

.collapse.open::before {
  height: 100%;
  transform: translateX(0);
  opacity: 1;
}

.collapse-header {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
}

.collapse.open .collapse-header {}

.collapse-header:hover {
  background-color: #F4F4F4;
}

.collapse-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #D2D1D1;
}

.collapse.open .collapse-header::after {
  display: none;
}

.collapse-header .left,
.collapse-header .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: auto;
}

.collapse-header > .left {
  justify-content: flex-start;
  margin-left: 30px;
}

.collapse-header > .right {
  justify-content: flex-end;
  margin-right: 30px;
}

.collapse-header .btn {
  padding: 2px 5px;
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.collapse-title {
  position: relative;
  padding: 0;
  margin: 0;
  color: #464646;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}

.collapse.open .collapse-title {}

.collapse-arrow {
  height: 6px;
  transition: transform 160ms ease;
}

.collapse-arrow.arrow-up {
  transform: rotateZ(180deg);
}

.collapse-content {
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

.collapse-content::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #D2D1D1;
}

.collapse.open .collapse-content {
  display: flex;
}

.collapse-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.collapse-row > .left,
.collapse-row > .right {
  position: relative;
}

.collapse-row > .left {
  padding-left: 30px;
}

.collapse-row > .right {
  padding-right: 30px;
}

.collapse-row.nopad {
  padding: 0;
}

.collapse-row.nopad > .left,
.collapse-row.nopad > .right {
  padding: 0;
}

.collapse-row > .left.nopad,
.collapse-row > .right.nopad {
  padding: 0;
}

.collapse-content .buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin: 10px 30px 5px 30px;
  width: calc(100% - 60px);
}

