body {
  position: relative;
  background-color: #ffffff;
  font-family: 'Trebuchet MS', sans-serif;
}

.app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  min-height: 100vh;
}


/* SVG - Início
/* ******************************************** */

.svg {
  display: block;
  position: relative;
  width: auto;
  height: auto;
}

.svg svg {
  display: block;
  width: auto;
  height: 100%;
}

/* SVG - Fim
/* ******************************************** */


/* React Modal - Início
/* ******************************************** */

.react-modal-overlay {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.react-modal {
  display: block;
  min-width: 400px;
  border-radius: 4px;
  border: 1px solid #f8f9fe;
  background: #fff;
  margin: 0 auto;
  outline: none;
  -webkit-overflow-scrolling: touch;
  background: rgb(255,255,255);
  background: linear-gradient(200deg, rgba(255,255,255,1) 16%, rgba(233,239,255,1) 100%);
  box-shadow: 0px 8px 46px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.03);
}

/* React Modal - Fim
/* ******************************************** */

/* Modal - Início
/* ******************************************** */

.modal-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 30px 20px 30px;
  width: calc(100% - 60px);
}

.modal-header-left,
.modal-header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.modal-header-left {
  justify-content: flex-start;
}

.modal-header-right {
  justify-content: flex-end;
}

.modal-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.modal-hat {
  margin-bottom: 5px;
  color: #898989;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.modal-title {
  color: #464646;
  font-size: 22px;
  font-weight: 400;
}

.modal .btn-close {
  padding: 0;
}

.modal .btn-close .icon {
  padding: 0;
  height: 15px;
}

.modal-content {
  display: block;
  position: relative;
  padding: 10px 30px 20px 30px;
  width: calc(100% - 60px);
}

/* Modal - Fim
/* ******************************************** */


/* Spinner - Início
/* ******************************************** */

.spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgba(250,110,60,1);
  -webkit-animation: spinner 1s linear infinite;
  -moz-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
  margin: 100px;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Spinner - Fim
/* ******************************************** */


/* Page - Início
/* ******************************************** */

.page {
  min-height: 100vh;
  padding-left: 360px;
}

.page.center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.page-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 40px 70px 20px 70px;
  width: calc(100% - 140px);
}

.page-header-lr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 40px 70px 20px 70px;
  width: calc(100vw - 360px - 140px);
}

.page-tie {
  margin: 0;
  margin-top: 20px;
  margin-left: 2px;
  color: #787878;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.page-title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #464646;
  font-size: 36px;
  font-weight: 600;
}

.page-subtitle {
  margin: 0;
  margin-bottom: 20px;
  color: #787878;
  font-size: 18px;
  font-weight: 400;
}

.page-content {
  padding: 0 70px 40px 70px;
  width: calc(100% - 140px);
}

/* Page - Fim
/* ******************************************** */


.form-section {
  margin-bottom: 40px;
}

.form-section-title {
  color: #898989;
}

.form-new-item {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 500px;
  padding: 5px 25px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(218,224,255, 0.2);
  border: none;
  color: #797979;
  line-height: 24px;
  font-size: 16px;
  font-weight: 300; 
}

.form-new-item:hover {
  background-color: rgba(218,224,255, 0.3);
}

.form-new-item .icon {
  height: 15px;
  margin-right: 18px;
}

.form-new-item .icon svg * {
  fill: #797979;
}

.form-section-content {
  display: block;
}

.form-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 500px;
  padding: 5px 25px;
  width: calc(100% - 50px);
  height: calc(50px - 10px);
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(218,224,255, 0.2);
}

.form-item-name {
  color: #797979;
  line-height: 24px;
  font-size: 16px;
  font-weight: 300; 
}

.form-item .actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.form-item .action {
  display: block;
  padding: 5px;
  height: 15px;
  margin: 0;
  border: none;
  background-color: transparent;
  box-sizing: content-box;
}

.form-item .action:not(:nth-last-child(1)) {
  margin-right: 6px;
}

.form-item .action:hover svg * {
  fill: rgba(0, 0, 0, 0.5);
}

.form-item .action svg * {
  fill: rgba(0, 0, 0, 0.3);
}

.no-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

.no-items .icon {
  height: 150px;
}

.no-items .icon svg * {
  fill: #797979;
}

.no-items p {
  margin-top: 40px;
  color: #797979;
  font-size: 20px;
  font-weight: 400; 
  text-align: center;
}


/* Login - Início
/* ******************************************** */

.page-login {
  background-color: #fff;
}

.page-login .wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

.page-login .logo {
  display: block;
  position: relative;
  padding: 75px 25px;
  max-width: 300px;
  width: auto;
  height: 100px;
}

.page-login .logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.page-login .input {
  width: 400px;
}

.page-login input {
  width: 100%;
}

.page-login input:-webkit-autofill {
  color: #fff;
  background: transparent;
  border-bottom: 2px solid #FFDE03;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.page-login .action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 0;
  width: 100%;
  height: auto;
}

.page-login .action .forgot {
  color: #000;
  font-size: 14px;
}

.page-login .action .forgot:focus,
.page-login .action .forgot:hover {
  text-decoration: underline;
  outline: none;
}

.page-login .action .submit {
  color: #000;
  font-size: 14px;
}

/* Login - Fim
/* ******************************************** */


/* Page Primary - Início
/* ******************************************** */

.page-primary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

.page-primary.w6,
.page-primary.w7,
.page-primary.w8 {
  align-items: flex-start;
  margin: 0 auto;
}

.page-primary.w6 {
  width: 600px;
}

.page-primary.w7 {
  width: 700px;
}

.page-primary.w8 {
  width: 800px;
}

.page-primary .page-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.page-primary .page-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.page-primary .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0 50px 0;
  width: 100%;
  height: auto;
}


/* Page Primary - Fim
/* ******************************************** */


.suggestions {
  position: absolute;
  left: 0;
  top: 60px;
  padding: 0;
  width: 100%;
  margin: 0;
  border-radius: 5px;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
  z-index: 1;
}

.suggestions .spinner {
  display: none;
  margin: 20px auto;
}

.suggestions.is-loading .spinner {
  display: block;
}

.suggestions li {
  cursor: pointer;
  padding: 5px 10px;
}

.suggestions .selected,
.suggestions li:hover {
  background-color: rgba(218,224,255, 0.2);
}

.suggestions .bold {
  font-weight: 900;
}



.bottombar {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 380px;
  width: calc(100% - 400px);
  height: 60px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.03);
}


.ctable-salario .ctable-row:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

.ctable-salario .ctable-col {
  padding: 5px 10px;
}

.ctable-salario .ctable-header .ctable-col {
  padding: 10px;
  height: 38px;
}

.ctable-salario .ctable-col:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}



.transition-group {
  flex: 1;
  position: relative;
}

.router {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 10;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 140ms ease-in;
}

.fade-exit {}

.fade-exit-active {
  opacity: 0;
  transition: opacity 140ms ease-in;
}




















