.table {
  margin: 0;
  width: 100%;
}

.table thead::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: red;
}

.table thead {
  position: relative;
}

.table thead td::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background-color: #000;
}

.table thead td {
  position: relative;
  padding: 5px 0 10px 0;
  margin: 0;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.table tbody {
  position: relative;
}

.table tbody tr {}

.table tbody tr:nth-child(odd) {
  background-color: #F0F0F0;
}

.table tbody td {
  margin: 0;
  padding: 15px 0;
  overflow-x: hidden;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-alpha {}

.table-alpha tr {
  margin: 0 30px;
  width: calc(100% - 60px);
}
