.window-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
}

.window {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 0 15px 0;
  background-color: #fff;
}

.window-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px;
  width: calc(100% - 10px);
}

.window-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

.window-header > .left,
.window-header > .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: auto;
}

.window-header > .left {
  justify-content: flex-start;
}

.window-header > .right {
  justify-content: flex-end;
}

.window-header .btn-back {
  display: block;
  position: relative;
  padding: 10px;
  height: 16px;
  background-color: transparent;
  border: none;
  box-sizing: content-box;
}

.window-header .btn-save {
  margin-right: 5px;
}

.window-header .btn svg * {
  fill: #464646;
}

.window-title {
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: 8px;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
}

.window-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

.window-content > .left,
.window-content > .right {
  position: relative;
}

.window-content > .left {
  padding-left: 15px;
}

.window-content > .right {
  padding-right: 15px;
}

.window-content.nopad {
  padding: 0;
}

.window-content.nopad .left,
.window-content.nopad .right {
  padding: 0;
}

.window-content > .left.nopad,
.window-content > .right.nopad {
  padding: 0;
}

.window-content .full {
  padding: 0 15px;
  width: calc(100% - 30px);
}

.window-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.window-list-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 15px 8px 15px;
  width: calc(100% - 30px);
}

.window-list-header .attribute {
  font-size: 14px;
  font-weight: 600;
}

.window-list-items {
  width: 100%;
}

.window-list-items .new-item {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 5px;
  width: calc(100% - 10px);
  height: 45px;
  background-color: #fafafa;
  border-bottom: 1px solid #D0D0D0;
}

.window-list-items .new-item .icon {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0 10px;
}

.window-list-items .new-item .icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.window-list-items .new-item .text {
  font-size: 16px;
  font-weight: 400;
}

.window-list-items .item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
  height: 45px;
  background-color: transparent;
  border-bottom: 1px solid #D0D0D0;
}

.window-list-items [data-attribute] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.window-list-items .item:nth-child(odd) {
  background-color: #fafafa;
}

.window-list-items .attribute {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.window-list-items .actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
}

.window-list-items .action {
  display: block;
  position: relative;
  padding: 5px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50px;
  line-height: 1px;
  transition: all 160ms ease;
}

.window-list-items .action:not(:nth-last-child(1)) {
  margin-right: 5px;
}

.window-list-items .action:hover {
  transform: scale(1.2);
}
