/*
* Buttons
*
*/

.buttons {
	display: block;
	position: relative;
	width: auto;
	height: auto;
}

.btn {
	cursor: pointer;
	display: inline-block;
	position: relative;
	background-color: transparent;
	color: #000;
	border: none;
	outline: none;
	font-family: 'Cabin', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 160ms ease-in;
	-webkit-transition: all 160ms ease-in;
}

.btn:hover {
	text-decoration: none;
}

.btn[disabled] {
	cursor: default;
	opacity: 0.5;
}

/**
 * Sizes
 * 
 */

.btn.btn-small {
	padding: 5px 10px 5px 10px;
}

.btn.btn-medium {
	padding: 10px 18px 10px 18px;
}

.btn.btn-wide {
	padding: 10px 25px 10px 25px;
}

.btn.btn-primary {
	padding: 2px 6px;
	border: 1px solid rgba(0, 0, 0, 0.75);
	color: rgba(0, 0, 0, 0.80);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.06em;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
	color: #fff;
	background-color: #000;
}

.btn.btn-secondary {
	padding: 4px 8px;
	border: 1px solid rgba(0, 0, 0, 0.75);
	color: rgba(0, 0, 0, 0.80);
	font-size: 14px;
	font-weight: 400;
	background-color: #fff;
}

.btn.btn-secondary:focus,
.btn.btn-secondary:hover {
	color: #fff;
	background-color: #000;
}


.btn.btn-beta {}

.btn-beta:focus,
.btn.btn-beta:hover {}



.btn-one {
	padding: 3px 6px;
	border-radius: 1px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.75);
	font-size: 13px;
	font-weight: 400;
	background-color: transparent;
}

.btn-one:focus,
.btn-one:hover {
	color: #fff;
	background-color: #000;
}



.btn-two {
	color: rgba(0, 0, 0, 0.75);
	font-size: 32px;
	font-weight: 300;
	text-transform: none;
	background-color: transparent;
}

.btn-two:focus,
.btn-two:hover {
	text-decoration: underline;
}


.btn-three {
	padding: 5px 8px 4px 8px;
	border-radius: 4px;
	border: 1px solid #898989;
	color: rgba(0, 0, 0, 0.75);
	font-size: 12px;
	font-weight: 400;
}

.btn-three:focus,
.btn-three:hover {
	color: #fff;
	border: 1px solid #464646;
	background-color: #464646;
	text-decoration: none;
}


.btn-four {
	padding: 10px 16px 10px 16px;
	border-radius: 6px;
	background: linear-gradient(240deg, rgba(254,171,74,1) 34%, rgba(250,139,60,1) 100%);
	color: #fff;
	font-size: 12px;
	font-weight: 600;
}

.btn-four:focus,
.btn-four:hover {
	color: #fff;
	background: linear-gradient(240deg, rgb(249, 153, 42) 34%, rgb(251, 124, 34) 100%);
	text-decoration: none;
}


.btn-four {
	padding: 10px 16px 10px 16px;
	border-radius: 6px;
	background: linear-gradient(240deg, rgba(254,171,74,1) 34%, rgba(250,139,60,1) 100%);
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.btn-four:focus,
.btn-four:hover {
	color: #fff;
	background: linear-gradient(240deg, rgb(249, 153, 42) 34%, rgb(251, 124, 34) 100%);
	text-decoration: none;
}

.btn-white {
	color: #000;
	background-color: #fff;
	border: 1px solid #e9e9e9;
}

.btn-white:focus,
.btn-white:hover {
	background-color: #FB7C22;
}

.btn-orange {
	color: #fff;
	background-color: #F9992A;
	border: 1px solid #fb9023;
}

.btn-orange:not([disabled]):focus,
.btn-orange:not([disabled]):hover {
	background-color: #FB7C22;
	border-color: #fb9023;
}

.btn-green {
	color: #fff;
	background-color: rgb(48, 209, 88);
	border: 1px solid rgb(52, 199, 89);
}

.btn-green:focus,
.btn-green:hover {
	background-color: rgb(52, 199, 89);
	border-color: rgb(52, 199, 89);
}

.btn-orange .btn-icon svg * {
	fill: #fff;
}

.btn-bright-blue {
	color: #fff;
	background-color: #0073FF;
}

.btn-bright-blue:focus,
.btn-bright-blue:hover {
	background-color: #0557ff;
}

.btn-red {
	color: #fff;
	background-color: rgb(255, 69, 58);
	border: 1px solid rgb(255, 59, 48);
}

.btn-red:focus,
.btn-red:hover {
	background-color: rgb(255, 59, 48);
	border-color: rgb(255, 59, 48);
}

.btn-outlined-red {
	color: rgb(255, 59, 48);
	border: 1px solid rgb(255, 59, 48);
}

.btn-outlined-red:focus,
.btn-outlined-red:hover {
	color: #fff;
	background-color: rgb(255, 59, 48);
	border-color: rgb(255, 59, 48);
}

.btn-outlined-orange {
	color: #fb9023;
	border: 1px solid #fb9023;
}

.btn-outlined-orange:focus,
.btn-outlined-orange:hover {
	color: #fff;
	background-color: #fb9023;
	border-color: #fb9023;
}

.btn-icon {
	height: 12px;
	margin-right: 8px;
}

.btn-five {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	border-radius: 4px;
	font-size: 13px;
	font-weight: 700;
}

.btn-six {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 700;
	text-transform: none;
}

.btn-seven {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 5px 7px;
	border-radius: 4px;
	font-size: 11px;
	font-weight: 700;
	line-height: 10px;
}

.btn-seven .btn-icon {
	height: 10px;
	margin: 0;
	margin-left: 5px;
}

.btn-seven .btn-icon svg * {
	fill: #ffffff;
}





