body {
  position: relative;
  background-color: rgb(242, 242, 247);
  font-family: 'Cabin', sans-serif;
  overflow-y: scroll;
}

.app {
  display: block;
  position: relative;
  min-height: 100vh;
}

.transition-group {
  flex: 1;
  position: relative;
}

.router {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fade-enter .page {
  opacity: 0;
  z-index: 10;
}

.fade-enter.fade-enter-active .page {
  opacity: 1;
  transition: opacity 140ms ease-in;
}

.fade-exit .page {}

.fade-exit-active .page {
  opacity: 0;
  transition: opacity 140ms ease-in;
}

/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */


/* Dev - Início
/* ******************************************** */

.dev {
  max-width: 1200px;
  margin: 0 auto;
}

.dev-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
}

.dev-buttons .btn:not(:last-child) {
  margin-right: 20px;
}

/* Dev - Fim
/* ******************************************** */


/* SVG - Início
/* ******************************************** */

  .svg {
    display: block;
    position: relative;
    width: auto;
    height: auto;
  }

  .svg svg {
    display: block;
    width: auto;
    height: 100%;
  }

/* SVG - Fim
/* ******************************************** */


/* React Modal - Início
/* ******************************************** */

  .react-modal-overlay {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .react-modal {
    display: block;
    border-radius: 4px;
    border: 1px solid #f8f9fe;
    margin: 0 auto;
    outline: none;
    -webkit-overflow-scrolling: touch;
    background: rgb(242,242,247);
  }

/* React Modal - Fim
/* ******************************************** */

/* Modal - Início
/* ******************************************** */

.modal {
  min-width: 400px;
}

.modal-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 50px 20px 20px;
  width: calc(100% - 40px);
}

.modal-header-left,
.modal-header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.modal-header-left {
  justify-content: flex-start;
}

.modal-header-right {
  justify-content: flex-end;
}

.modal-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.modal-hat {
  margin-bottom: 5px;
  color: #898989;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.modal-title {
  color: #464646;
  font-size: 22px;
  font-weight: 400;
}

.modal .btn-close {
  padding: 6px;
}

.modal .btn-close .icon {
  padding: 0;
  height: 15px;
}

.modal-content {
  display: block;
  position: relative;
  padding: 10px 20px 20px 20px;
  width: calc(100% - 40px);
}

.modal-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
}

.modal-link:hover {
  text-decoration: none;
  background-color: rgb(229, 229, 234);
}

.alert-modal {
  min-width: auto;
  background: #fff;
}

.alert-modal .modal-header {
  padding: 30px 30px 10px 30px;
  width: calc(100% - 60px);
  justify-content: center;
}

.alert-modal-icon svg * {
  fill: #464646;
}

.alert-modal .modal-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-left: 20px;
}

.alert-modal .modal-hat {
  margin-bottom: 2px;
}

.alert-modal .modal-title {
  margin: 0;
  color: #464646;
  font-size: 18px;
}

.alert-modal .modal-content {
  padding: 20px 20px;
  width: calc(100% - 40px);
}

.alert-modal-icon {
  height: 45px;
}

.alert-modal-text {}

.alert-modal-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.alert-modal-buttons .btn:not(:last-child) {
  margin-right: 10px;
}

/* Modal - Fim
/* ******************************************** */


/* Spinner - Início
/* ******************************************** */

  .spinner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: rgba(250,110,60,1);
    -webkit-animation: spinner 1s linear infinite;
    -moz-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
    margin: 100px;
  }

  .spinner-2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-left-color: rgba(250,110,60,1);
    -webkit-animation: spinner 1s linear infinite;
    -moz-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
  }

  @-webkit-keyframes spinner {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/* Spinner - Fim
/* ******************************************** */


/* Loading Overlay - Início
/* ******************************************** */

.loading-overlay {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 82px;
  left: 0;
  width: 100%;
  height: calc(100vh - 82px);
  background-color: rgb(242, 242, 247);
}

.loading-overlay .spinner-container {
  transform: scale(0);
}

/* Loading Overlay - Fim
/* ******************************************** */


/* Page - Início
/* ******************************************** */

  .page {
    position: relative;
    min-height: calc(100vh - 82px);
  }

  .page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
  }

  .page-wrapper.center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .page-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 30px 20px 20px 20px;
    width: calc(100% - 40px);
  }

  .page-header-lr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 40px 20px 40px 20px;
    width: calc(100% - 40px);
  }

  .page-header-lr .page-header-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  .page-header-lr .page-header-right .btn:not(:last-child) {
    margin-right: 10px;
  }

  .page-tie {
    margin: 0;
    margin-top: 20px;
    margin-left: 2px;
    color: #787878;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }

  .page-tie.--clickable {
    cursor: pointer;
  }

  .page-title {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #464646;
    font-size: 34px;
    font-weight: 600;
  }

  .page-subtitle {
    margin: 0;
    margin-bottom: 20px;
    color: #787878;
    font-size: 18px;
    font-weight: 400;
  }

  .page-text {
    max-width: 700px;
    margin: 0;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
  }

  .page-content {
    padding-bottom: 40px;
    width: 100%;
  }

  .page-content-wrapper {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  .page-content-form-wrapper .btn {
    margin-top: 40px;
  }

  .page-content-container {
    display: block;
    position: relative;
  }

  .page-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

/* Page - Fim
/* ******************************************** */


/* Form - Início
/* ******************************************** */

/* Form - Fim
/* ******************************************** */

/* Pagination - Fim
/* ******************************************** */

.pagination-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: transparent;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 0;
}

.pagination .btn {
  width: 30px;
}

.pagination .btn:not(:last-child) {
  margin-right: 10px;
}

.pagination .btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  color: #464646;
}

.pagination-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #464646;
}

.pagination-input input {
  padding: 0;
  margin: 0;
  border: 1px solid rgb(209, 209, 214);
  border-radius: 4px;
  margin-left: 10px;
  font-size: 13px;
  text-align: center;
  color: #464646;
}

.pagination-input select {
  margin-left: 10px;
  color: #464646;
}


/* Pagination - Fim
/* ******************************************** */


/* Form Section - Início
/* ******************************************** */

  .form-section:not(:nth-last-child(2)) {
    margin-bottom: 40px;
  }

  .form-section-title {
    color: #464646;
  }

  .form-new-item {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-width: 500px;
    padding: 5px 25px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgb(225, 225, 234);
    color: #747474;
    line-height: 24px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    font-weight: 400;
    outline: none;
  }

  .form-new-item:focus,
  .form-new-item:hover {
    border-color: rgb(179, 179, 179);
  }

  .form-new-item .icon {
    height: 12px;
    margin-right: 14px;
  }

  .form-new-item .icon svg * {
    fill: #747474;
  }

  .form-section-content {
    display: block;
  }

  .form-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: 500px;
    padding: 5px 25px;
    width: calc(100% - 50px);
    height: calc(50px - 10px);
    margin-top: 10px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgb(209, 209, 214);
  }

  .form-item-name {
    color: #797979;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
  }

  .form-item .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .form-item .action {
    display: block;
    padding: 5px;
    height: 15px;
    margin: 0;
    border: none;
    background-color: transparent;
    box-sizing: content-box;
  }

  .form-item .action:not(:nth-last-child(1)) {
    margin-right: 6px;
  }

  .form-item .action:hover svg * {
    fill: rgba(0, 0, 0, 0.5);
  }

  .form-item .action svg * {
    fill: rgba(0, 0, 0, 0.3);
  }

  .no-items {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    width: 100%;
  }

  .no-items .icon {
    height: 150px;
  }

  .no-items .icon svg * {
    fill: #797979;
  }

  .no-items p {
    margin-top: 40px;
    color: #797979;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

/* Form Section - Fim
/* ******************************************** */


/* Suggestions - Início
/* ******************************************** */

  .suggestions {
    position: absolute;
    left: 0;
    top: 60px;
    padding: 0;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 1;
  }

  .suggestions .spinner {
    display: none;
    margin: 20px auto;
  }

  .suggestions.is-loading .spinner {
    display: block;
  }

  .suggestions li {
    cursor: pointer;
    padding: 5px 10px;
  }

  .suggestions .selected,
  .suggestions li:hover {
    background-color: rgba(218,224,255, 0.2);
  }

  .suggestions .bold {
    font-weight: 900;
  }

/* Suggestions - Fim
/* ******************************************** */


/* CTable - Início
/* ******************************************** */

  .ctable-salario .ctable-row:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .ctable-salario .ctable-col {
    padding: 5px 10px;
  }

  .ctable-salario .ctable-header .ctable-col {
    padding: 10px;
    height: 38px;
  }

  .ctable-salario .ctable-col:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }

/* CTable - Fim
/* ******************************************** */

/* Config Panel - Início
/* ******************************************** */

.config-main-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: auto;
}

.config-menu {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0;
  width: 200px;
  margin: 0;
  list-style-type: none;
  flex-shrink: 0;
}

.config-menu li {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 12px 10px;
  border-radius: 4px;
  width: calc(100% - 20px);
  color: #464646;
  font-size: 16px;
}

.config-menu li:hover {
  background-color: rgb(229, 229, 234);
}

.config-menu li.active {
  background-color: rgb(229, 229, 234);
  font-weight: 600;
}

.config-menu li::after {
  content: '';
  display: block;
  position: absolute;
  left: 4px;
  bottom: 0;
  width: calc(100% - 8px);
  height: 1px;
  background-color: rgb(209, 209, 214);
}

.config-panel-container::before {
  content: '';
  display: block;
  position: absolute;
  left: -12px;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(209, 209, 214, 0.75);
}

.config-panel-container {
  display: block;
  position: relative;
  width: 500px;
  margin-left: 20px;
}

.config-panel-container .empty {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  color: #898989;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.config-panel {
  display: block;
  position: relative;
  width: 100%;
}

.config-panel-list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.config-panel .new-item {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 20px;
  width: calc(100% - 40px);
  height: auto;
  border-radius: 8px;
  border: 1px solid #898989;
  background-color: rgb(242, 242, 246);
  color: #464646;
  font-family: 'Cabin', sans-serif;
  font-size: 17px;
  line-height: 22px;
  box-sizing: content-box;
  outline: none;
}

.config-panel .new-item:focus,
.config-panel .new-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.config-panel .new-item .icon {
  height: 15px;
  margin-top: -1px;
  margin-right: 14px;
}

.config-panel .new-item .icon svg * {
  fill: #464646;
}

.config-panel-section {
  display: block;
  position: relative;
}

.config-panel-section-title::before {
  content: '';
  display: none;
  position: absolute;
  top: 2px;
  left: -18px;
  width: 4px;
  height: 14px;
  background-color: rgba(99, 99, 102, 0.7);

}

.config-panel-section-title {
  display: block;
  position: relative;
  margin-left: 5px;
  margin-bottom: 10px;
  color: rgb(99, 99, 102);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Config Panel - Fim
/* ******************************************** */


/* List - Início
/* ******************************************** */

.list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.list-one {
  height: 300px;
  overflow-y: scroll;
}

.list-one .list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 10px;
  width: calc(100% - 20px);
  text-decoration: none;
}

.list-one .list-item:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(209, 209, 214);
}

.list-one .list-item-left,
.list-one .list-item-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.list-one .list-item-left {
  justify-content: flex-start;
}

.list-one .list-item-right {
  justify-content: flex-end;
}

.list-one .list-item-name {
  color: #464646;
}

.list-one .btn:not(:last-child) {
  margin-right: 5px;
}

.list-two .list-item {
  padding: 0.65rem 0;
  font-size: 1.25rem;
  text-align: center;
}

/* List - Fim
/* ******************************************** */


/* Accordion - Início
/* ******************************************** */

.accordion {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.accordion-item {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.accordion-item:hover {
  text-decoration: none;
}

.accordion-item:hover .accordion-item-header {
  background-color: rgb(229, 229, 234);
}

.accordion-item-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
  height: 55px;
  user-select: none;
  box-sizing: content-box;
  flex-shrink: 0;
}

.accordion-item-header .left,
.accordion-item-header .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.accordion-item-header .left {
  justify-content: flex-start;
}

.accordion-item-header .right {
  justify-content: flex-end;
}

.accordion-item-header .arrow {
  height: 15px;
}

.accordion-item-header .arrow svg * {
  fill: #000;
}

.accordion-item-header .icon {
  height: 60px;
  margin-right: 25px;
}

.accordion-item-header .icon svg {
  max-width: 50px;
}

.accordion-item-header .icon svg * {
  fill: #000;
}

.accordion-item-title {
  color: #000;
  font-size: 18px;
  font-weight: 300;
}

.accordion-item-content {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 0 15px 0;
  width: 100%;
}

.accordion-item-content a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
  height: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
}

.accordion-item-content a:hover {
  background-color: rgb(229, 229, 234);
  text-decoration: none;
}

/* Accordion - Fim
/* ******************************************** */


/* Widget Columns - Início
/* ******************************************** */

.widget-columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 100px;
}

.widget-column {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 20px;
  width: calc(100%/3 - 40px);
  height: 100%;
  overflow-y: scroll;
}

.widget-column .project-widget:not(:last-child) {
  margin-bottom: 20px;
}

.project-widget {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  width: calc(100% - 40px);
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px rgb(0, 0, 0, 0.05);
}

.project-top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.project-division {
  padding: 4px 8px;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: 900;
}

.project-status {
  padding: 4px 8px;
  border-radius: 5px;
  color: rgb(72, 72, 74);
  font-size: 14px;
  font-weight: 400;
}

.project-consultant {
  padding: 4px 8px;
  color: rgb(72, 72, 74);
  font-size: 14px;
  font-weight: 400;
}

.project-division.--yellow {
  background-color: #ffc620;
}

.project-division.--blue {
  background-color: rgb(0, 122, 255);
}

.project-division.--orange {
  background-color: rgb(255, 154, 24);
}

.project-title {
  margin: 35px 0 0 0;
  color: rgb(28, 28, 30);
  font-size: 24px;
  font-weight: 600;
}

.project-subtitle {
  margin: 0 0 0 0;
  color: rgb(28, 28, 30);
  font-size: 16px;
  font-weight: 400;
}

/* Widget Columns - Fim
/* ******************************************** */


/* Division Projects - Início
/* ******************************************** */

.division-projects {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgb(234, 234, 239);
}

.division-projects .division-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  width: calc(100% - 40px);
  border-bottom: 1px solid rgb(234, 234, 239);
}

.division-projects .division-header > .left,
.division-projects .division-header > .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.division-projects .division-header > .left {
  justify-content: flex-start;
}

.division-projects .division-header > .right {
  justify-content: flex-end;
}

.division-projects .division-titles {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.division-projects .division-title {
  margin: 0;
  color: #464646;
  font-size: 24px;
  font-weight: 600;
}

.division-projects .division-subtitle {
  margin: 0;
  margin-top: 4px;
  color: #868686;
  font-size: 16px;
  font-weight: 400;
}

.division-projects .division-name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #464646;
  font-size: 24px;
  font-weight: 600;
}

.division-projects .division-name::after {
  content: 'Ver todos';
  display: block;
  position: absolute;
  right: -85px;
  width: 70px;
  margin-top: 2px;
  color: #868686;
  font-size: 16px;
}

.division-projects .division-search {
  display: block;
  position: relative;
  width: 350px;
}

.division-projects .division-search input {
  padding: 8px 10px;
  width: 100%;
  height: 39px;
  background-color: rgb(243, 243, 248);
  background-color: transparent;
  border: none;
  border: 1px solid rgb(214, 214, 219);
  border-radius: 6px;
  color: #464646;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  transition: all 160ms ease;
}

.division-projects .division-search input:hover {
  border-color: rgb(179, 179, 179);
}


.division-projects .division-search input:focus {
  border: 2px solid #F9992A;
}

.division-projects .division-search ::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.35);
  font-weight: 400;
}

/* Division Projects - Fim
/* ******************************************** */

.form-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.form-actions .btn:not(:last-child) {
  margin-right: 10px;
}


.recent-projects .widget:not(:last-child) {
  margin-bottom: 30px;
}

/* Projects Table - Início
/* ******************************************** */

.projects-table-wrapper {
  position: relative;
  width: 100%;
}

.projects-table {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgb(234, 234, 239);
}

.projects-table-row {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 10px 20px;
  width: calc(100% - 40px);
  min-height: 50px;
}

.projects-table-row:hover {
  background-color: rgb(242, 242, 247);
  text-decoration: none;
}

.projects-table-row:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  bottom: 0;
  width: calc(100% - 40px);
  height: 1px;
  background-color: rgb(229, 229, 234);
}

.projects-table-cell {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.projects-table-cell:not(:last-child) {
  margin-right: 30px;
}

.projects-table-cell.mw06 {
  max-width: 60px;
}

.projects-table-cell.mw1 {
  max-width: 100px;
}

.projects-table-cell.mw1-1q {
  max-width: 125px;
}

.projects-table-cell.mw1-2q {
  max-width: 150px;
}

.projects-table-cell.mw1-2q {
  max-width: 175px;
}

.projects-table-cell.mw2q {
  max-width: 200px;
}

.projects-table-cell.mw2-1q {
  max-width: 225px;
}

.projects-table-cell.mw2-2q {
  max-width: 250px;
}

.projects-table-cell.mw2-2q {
  max-width: 275px;
}

.projects-table-cell.mw2q {
  max-width: 300px;
}

.projects-table-cell.mw3-1q {
  max-width: 325px;
}

.projects-table-cell.mw3-2q {
  max-width: 350px;
}

.projects-table-cell.mw3-2q {
  max-width: 375px;
}

.projects-table-cell.mw4 {
  max-width: 400px;
}

.projects-table-cell.mw4-1q {
  max-width: 425px;
}

.projects-table-cell.mw4-2q {
  max-width: 450px;
}

.projects-table-cell.mw4-2q {
  max-width: 475px;
}

.projects-table-cell.mw5 {
  max-width: 500px;
}

.projects-table-cell.mw5-1q {
  max-width: 525px;
}

.projects-table-cell.mw5-2q {
  max-width: 550px;
}

.projects-table-cell.mw5-2q {
  max-width: 575px;
}

.projects-table-cell.featured-1 .projects-table-cell-title {
  font-size: 18px;
}

.projects-table-cell-hat {
  margin: 0;
  margin-bottom: 3px;
  color: #868686;
  font-size: 13px;
  font-weight: 400;
}

.projects-table-cell-title {
  margin: 0;
  width: 100%;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.projects-table-cell-subtitle {
  margin: 0;
  color: #868686;
  font-size: 13px;
  font-weight: 400;
}

.projects-table-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

/* Projects Table - Fim
/* ******************************************** */



/* PopUp - Início
/* ******************************************** */

.popup-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
}

.popup-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 0;
  max-width: 1200px;
}

.popup-wrapper .popup:not(:last-child) {
  margin-right: 10px;
}

.popup {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}

.popup-header {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
}

.popup-header-left,
.popup-header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.popup-header-left {
  justify-content: flex-start;
}

.popup-header-right {
  justify-content: flex-end;
}

.popup-title {
  margin-left: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.files-popup {
  height: 300px;
  width: 450px;
  outline: none;
  transform: translateY(250px);
}

.files-popup .popup-header {
  background-color: rgb(72, 72, 74);
}

.files-popup .popup-content {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: calc(100% - 2px);
  height: 100%;
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.files-popup .placeholder-message {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  color: rgb(72, 72, 74);
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

/* PopUp - Fim
/* ******************************************** */


/* File List - Início
/* ******************************************** */

.file-list::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.file-list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  outline: none;
}

.file-list .react-contextmenu-wrapper {
  width: 100%;
}

.file-list .file {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 12px 0;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  line-height: 22px;
  outline: none;
  user-select: none;
}

.file-list .react-contextmenu-wrapper {
  position: relative;
}

.file-list .react-contextmenu-wrapper:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.file-list .file.active,
.file-list .file:hover {
  background-color: rgb(229, 229, 234);
}

.file-list .file .w1 {
  width: 10%;
}

.file-list .file .w2 {
  width: 20%;
}

.file-list .file .w3 {
  width: 30%;
}

.file-list .file .w4 {
  width: 40%;
}

.file-list .file .w5 {
  width: 50%;
}

.file-list .file .w6 {
  width: 60%;
}

.file-list .file .w7 {
  width: 70%;
}

.file-list .file .w8 {
  width: 80%;
}

.file-list .file .w9 {
  width: 90%;
}

.file-list .file .wf {
  width: 100%;
}

.file-list .go-back {
  padding: 14px 0;
  color: rgb(28, 28, 30);
  font-size: 16px;
  font-weight: 600;
}

.file-list .file.go-back .icon {
  height: 20px;
  margin-right: 6px;
}

.file-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 13px;
  color: rgb(44, 44, 46);
}

.file-list .file > .left .file-field:first-child {
  margin-left: 20px;
}

.file-list .file > .right .file-field:first-child {
  margin-right: 20px;
}

.file-field .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.file-list .file-info {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.file-list .file-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 15px;
}

.file-list .file-description {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 15px;
}

.file-list .file-icon {
  display: block;
  padding: 0 15px;
  width: 24px;
  height: 24px;
}

.file-list .file-name {
  color: rgb(44, 44, 46);
  width: 365px;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-list .file-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 15px;
  height: 100%;
}

.file-list .file-action {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 5px;
  background-color: transparent;
  border: none;
  height: 17px;
  box-sizing: content-box;
  transition: all 160ms ease;
}

.file-list .file-action svg * {
  fill: rgb(44, 44, 46);
}

.file-list .file-action:hover {
  transform: scale(1.1);
}





/* File List Item - Fim
/* ******************************************** */


/* React Context Menu - Início
/* ******************************************** */

.react-contextmenu {
  position: relative;
  min-width: 210px;
  background-color: rgb(242, 242, 247);
  border-radius: 10px;
  overflow: hidden;
}

.react-contextmenu-item {
  cursor: pointer;
  position: relative;
  padding: 10px 14px;
  font-size: 15px;
  outline: none;
}

.react-contextmenu-item.disabled {
  cursor: not-allowed;
}

.react-contextmenu-item:focus,
.react-contextmenu-item:hover {
  background-color: rgb(229, 229, 234);
}

.react-contextmenu-item:not(:last-child):not(.react-contextmenu-item--divider)::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item--divider::before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(229, 229, 234);
}

.react-contextmenu-item--divider {
  padding: 4px 0;
  background-color: rgb(229, 229, 234);
}

/* React Context Menu - Fim
/* ******************************************** */
