.custom-table {
  display: block;
  position: relative;
  width: 100%;
}

.custom-table .ct-table {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  background-color: #fff;
}

.ct-loading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
}

.ct-loading .spinner-container {
  transform: scale(0);
}

.ct-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.ct-row > .left,
.ct-row > .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  position: relative;
}

.ct-row > .left {
  justify-content: flex-start;
}

.ct-row > .right {
  justify-content: flex-end;
}

.custom-table .ct-row:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #f0f0f0;
}

.ct-cell {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.ct-cell p {
  margin: 0;
}

.ct-cell.mw06 {
  max-width: 60px;
}

.ct-cell.mw1 {
  max-width: 100px;
}

.ct-cell.mw1-1q {
  max-width: 125px;
}

.ct-cell.mw1-2q {
  max-width: 150px;
}

.ct-cell.mw1-2q {
  max-width: 175px;
}

.ct-cell.mw2q {
  max-width: 200px;
}

.ct-cell.mw2-1q {
  max-width: 225px;
}

.ct-cell.mw2-2q {
  max-width: 250px;
}

.ct-cell.mw2-2q {
  max-width: 275px;
}

.ct-cell.mw2q {
  max-width: 300px;
}

.ct-cell.mw3-1q {
  max-width: 325px;
}

.ct-cell.mw3-2q {
  max-width: 350px;
}

.ct-cell.mw3-2q {
  max-width: 375px;
}

.ct-cell.mw4 {
  max-width: 400px;
}

.ct-cell.mw4-1q {
  max-width: 425px;
}

.ct-cell.mw4-2q {
  max-width: 450px;
}

.ct-cell.mw4-2q {
  max-width: 475px;
}

.ct-cell.mw5 {
  max-width: 500px;
}

.ct-cell.mw5-1q {
  max-width: 525px;
}

.ct-cell.mw5-2q {
  max-width: 550px;
}

.ct-cell.mw5-2q {
  max-width: 575px;
}

.ct-cell.featured-1 .ct-cell-title {
  font-size: 18px;
}

.ct-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 0;
}


/* Style 1 - Início
/* ******************************************** */

.custom-table.style-1.--no-border .ct-table {
  border: none;
}

.custom-table.style-1 .ct-table {
  border-radius: 4px;
}

.custom-table.style-1 .ct-table.is-filled {
  border: 1px solid rgb(234, 234, 239);
}

.custom-table.style-1 .ct-row {
  cursor: pointer;
  padding: 10px 20px;
  width: calc(100% - 40px);
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.custom-table.style-1 .ct-row:hover {
  border-color: rgb(175, 175, 183);
  text-decoration: none;
}

.custom-table.style-1 .ct-row:not(:last-child)::after {
  left: 20px;
  width: calc(100% - 40px);
  background-color: rgb(229, 229, 234);
}

.custom-table.style-1 .ct-row:hover:not(:last-child)::after {
  background-color: rgb(175, 175, 183);
}

.custom-table.style-1 .ct-cell {
  height: 50px;
  overflow: hidden;
}

.custom-table.style-1 .ct-cell:not(:last-child) {
  margin-right: 30px;
}

.custom-table.style-1 .ct-cell-hat {
  margin: 0;
  margin-bottom: 3px;
  color: #868686;
  font-size: 13px;
  font-weight: 400;
}

.custom-table.style-1 .ct-cell-title {
  margin: 0;
  width: 100%;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Style 1 - Fim
/* ******************************************** */


