
/* Navbar - Início
/* ******************************************** */

.navbar-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
  width: 100%;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgb(234, 234, 239);
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.navbar-left {
  justify-content: flex-start;
}

.navbar-center {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-right {
  justify-content: flex-end;
}

.navbar-separator {
  width: 2px;
  height: 100%;
  background-color: rgb(242, 242, 247);
}

.navbar-logo {
  display: block;
  position: relative;
  width: auto;
  height: 35px;
}

.navbar-logo svg {
  display: block;
  position: relative;
  padding: 0 30px;
  height: 100%;
}

.navbar-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0;
  width: auto;
  height: 100%;
  list-style-type: none;
}

.navbar-menu-item {
  cursor: pointer;
  display: block;
  position: relative;
  height: 100%;
}

.navbar-menu-item a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 15px;
  height: 100%;
  color: rgb(58, 58, 60);
  border: none;
  border-right: 1px solid rgb(242, 242, 247);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-menu-item:first-child a {
  border-left: 1px solid rgb(242, 242, 247);
}

.navbar-menu-item a::after {
  content: '';
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 4px);
  height: 0;
  border: 2px solid #e8891b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar-menu-item a:hover {
  text-decoration: none;
}

.navbar-menu-item a:hover::after {
  display: block;
}

.navbar-menu-item.active a::after {
  display: block;
}

.navbar-menu-icon {
  display: block;
  position: relative;
  max-width: 20px;
  height: 16px;
  margin-right: 8px;
}

.navbar-menu-icon svg {
  display: block;
  position: relative;
  height: 100%;
}

.navbar-menu-icon svg * {
  fill: rgb(58, 58, 60);
}

.navbar-search::before {
  content: '';
  display: none;
  position: absolute;
  top: -6px;
  left: -20px;
  width: 1px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.25);
}

.navbar-search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 300px;
  height: 30px;
  margin-top: 0;
}

.navbar-search:hover input {
  background-color: rgba(0, 0, 0, 0.025);
}

.navbar-search input {
  display: block;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 100%;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  transition: all 160ms ease-out;
}

.navbar-search input:focus {
  border-bottom-width: 2px;
}

.navbar-search input::placeholder {
  font-weight: 300;
}

.navbar-search .icon {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;
  bottom: 12px;
  width: 15px;
  height: 15px;
}

.navbar-search .icon svg * {
  fill: rgba(0, 0, 0, 0.5 );
}

.navbar-user {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: auto;
  height: 30px;
  margin-right: 20px;
}

.navbar-user-info {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 15px;
}

.navbar-user-name {
  color: rgb(72, 72, 74);
  font-size: 16px;
}

.navbar-user-link {
  color: rgb(99, 99, 102);
  font-size: 13px;
  line-height: 12px;
}

.navbar-user-picture::before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 100%;
  border: 1px solid rgba(229, 229, 234, 1.0);
}

.navbar-user-picture {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}


/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .navbar { width: 1200px; }
}

/* Navbar - Fim
/* ******************************************** */
