.s-widget {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid rgb(236, 236, 241);
}

.s-widget.full {
  width: 100%;
}

.s-widget.w3  {
  width: 300px;
}

.s-widget.w4  {
  width: 400px;
}

.s-widget.w5  {
  width: 500px;
}

.s-widget.w6  {
  width: 600px;
}

.s-widget.w7  {
  width: 700px;
}

.s-widget.w8  {
  width: 800px;
}

.s-widget-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(242, 242, 247);
}

.s-widget-header-left,
.s-widget-header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: 100%;
}

.s-widget-header-left {
  justify-content: flex-start;
}

.s-widget-header-right {
  justify-content: flex-end;
}

.s-widget-title {
  position: relative;
  color: #464646;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
}

.s-widget-content {
  display: block;
  position: relative;
  padding: 15px 15px;
  width: calc(100% - 30px);
}

.s-widget-content.no-pad {
  padding: 0;
}

.s-widget-content.no-pad-lr {
  padding-left: 0;
  padding-right: 0;
}