.widget {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  background-color: #fff;
}

.w-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.w-header > .left,
.w-header > .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.w-header > .left {
  justify-content: flex-start;
}

.w-header > .right {
  justify-content: flex-end;
}

.w-titles {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.w-title {
  margin: 0;
  color: #464646;
  font-size: 24px;
  font-weight: 600;
}

.w-subtitle {
  margin: 0;
  margin-top: 4px;
  color: #868686;
  font-size: 16px;
  font-weight: 400;
}

.w-name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #464646;
  font-size: 24px;
  font-weight: 600;
}

.w-name::after {
  content: 'Ver todos';
  display: block;
  position: absolute;
  right: -85px;
  width: 70px;
  margin-top: 2px;
  color: #868686;
  font-size: 16px;
}

.w-search {
  display: block;
  position: relative;
  width: 350px;
}

.w-search input {
  padding: 8px 10px;
  width: 100%;
  height: 39px;
  background-color: rgb(243, 243, 248);
  background-color: transparent;
  border: none;
  border: 1px solid rgb(214, 214, 219);
  border-radius: 6px;
  color: #464646;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  transition: all 160ms ease;
}

.w-search input:hover {
  border-color: rgb(179, 179, 179);
}


.w-search input:focus {
  border: 2px solid #F9992A;
}

.w-search ::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.35);
  font-weight: 400;
}


/* Style 1 - Início
/* ******************************************** */

.widget.style-1 {
  border-radius: 4px;
  border: 1px solid rgb(234, 234, 239);
}

.widget.style-1 .w-header {
  padding: 20px;
  width: calc(100% - 40px);
  border-bottom: 1px solid rgb(234, 234, 239);
}

/* Style 1 - Fim
/* ******************************************** */
