@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-Regular.woff2') format('woff2'),
        url('Vollkorn-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-Italic.woff2') format('woff2'),
        url('Vollkorn-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-SemiBold.woff2') format('woff2'),
        url('Vollkorn-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-SemiBoldItalic.woff2') format('woff2'),
        url('Vollkorn-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-Bold.woff2') format('woff2'),
        url('Vollkorn-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-BoldItalic.woff2') format('woff2'),
        url('Vollkorn-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-BlackItalic.woff2') format('woff2'),
        url('Vollkorn-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-Black.woff2') format('woff2'),
        url('Vollkorn-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

