.ctable {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.ctable-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.ctable-row.center,
.ctable-col.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ctable-col {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 100%;
}

.ctable-col.w1 {
  width: 100px;
}

.ctable-col.w1-q1 {
  width: 125px;
}

.ctable-col.w1-q2 {
  width: 150px;
}

.ctable-col.w1-q3 {
  width: 175px;
}

.ctable-col.w2 {
  width: 200px;
}

.ctable-col.w2-q1 {
  width: 225px;
}

.ctable-col.w2-q2 {
  width: 250px;
}

.ctable-col.w2-q3 {
  width: 275px;
}

.ctable-col.w3 {
  width: 300px;
}

.ctable-col.w3-q1 {
  width: 325px;
}

.ctable-col.w3-q2 {
  width: 350px;
}

.ctable-col.w3-q3 {
  width: 375px;
}

.ctable-col.w4 {
  width: 400px;
}

.ctable-col.w4-q1 {
  width: 425px;
}

.ctable-col.w4-q2 {
  width: 450px;
}

.ctable-col.w4-q3 {
  width: 475px;
}

.ctable-col.w5 {
  width: 500px;
}

.ctable-col.w5-q1 {
  width: 525px;
}

.ctable-col.w5-q2 {
  width: 550px;
}

.ctable-col.w5-q3 {
  width: 575px;
}

.ctable .btn {
  margin-top: 20px;
}
































