.sidebar::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(218,224,255);
  background: linear-gradient(240deg, rgba(218,224,255,1) 33%, rgba(232,137,27,0.8603816526610644) 91%, rgba(216,55,26,0.8519782913165266) 100%);
  z-index: -1;
}

.sidebar {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  width: 360px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.75);
}

.sidebar::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}


.sidebar-top {}
.sidebar-bottom {}

.sidebar-row {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  padding: 0 70px 0 0;
  width: calc(100% - 70px);
}

.sidebar-logo {
  display: block;
  position: relative;
  padding-right: 65px;
  margin: 60px 0 25px 0;
  width: auto;
  height: 44px;
}

.sidebar-logo img {
  display: block;
  width: auto;
  height: 100%;
}

.sidebar-menu {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar-menu li {
  margin: 0;
}

.sidebar-menu .active a::before {
  content: '';
  display: block;
  position: absolute;
  top: 19px;
  left: -85px;
  width: 65px;
  height: 2px;
  background-color: #000;
}

.sidebar-menu a {
  display: block;
  position: relative;
  padding: 7px 0;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.sidebar-menu .active a {
  color: #000;
}

.sidebar-action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  right: -15px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background: rgb(254,171,74);
  background: linear-gradient(240deg, rgba(254,171,74,1) 34%, rgba(250,110,60,1) 100%);
  outline: none;
  border: none;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
}

.sidebar-action .icon {
  margin-top: 1px;
  height: 12px;
}

.sidebar-action .icon svg * {
  fill: #fff;
}






















