.widget {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 0 15px 0;
  background-color: #fff;
}

.widget.w3  {
  width: 300px;
}

.widget.w4  {
  width: 400px;
}

.widget.w5  {
  width: 500px;
}

.widget.w6  {
  width: 600px;
}

.widget.w7  {
  width: 700px;
}

.widget.w8  {
  width: 800px;
}

.widget-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.widget-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

.widget-header > .left,
.widget-header > .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: auto;
}

.widget-header > .left {
  justify-content: flex-start;
}

.widget-header > .right {
  justify-content: flex-end;
}

.widget-header > .left.with-button .primary-content-title {
  margin-right: 20px;
}

.widget-header > .left.with-button .primary-content-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
}

.widget-header .btn {
  padding: 2px 5px;
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.widget-header-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px;
  width: calc(100% - 30px);
  height: auto;
}

.widget-header-row:nth-child(1) {}

.widget-header-row.no-pad {
  padding: 0;
  width: 100%;
}

.widget-title {
  position: relative;
  padding: 0;
  margin: 0;
  color: #464646;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.widget-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

.widget-content > .left,
.widget-content > .right {
  position: relative;
}

.widget-content > .left {
  padding-left: 15px;
}

.widget-content > .right {
  padding-right: 15px;
}

.widget-content.nopad {
  padding: 0;
}

.widget-content.nopad .left,
.widget-content.nopad .right {
  padding: 0;
}

.widget-content > .left.nopad,
.widget-content > .right.nopad {
  padding: 0;
}

.widget-content .full {
  padding: 0 15px;
  width: calc(100% - 30px);
}

.widget-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.widget-list-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 15px 8px 15px;
  width: calc(100% - 30px);
}

.widget-list-header .attribute {
  font-size: 14px;
  font-weight: 600;
}

.widget-list-items {
  width: 100%;
}

.widget-list-items .new-item {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 5px;
  width: calc(100% - 10px);
  height: 45px;
  color: #222;
  background-color: #fafafa;
  border-bottom: 1px solid #D0D0D0;
}

.widget-list-items .new-item .icon {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0 10px;
}

.widget-list-items .new-item .icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.widget-list-items .new-item .text {
  font-size: 16px;
  font-weight: 400;
}

.widget-list-items .item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
  height: 45px;
  background-color: transparent;
  border-bottom: 1px solid #D0D0D0;
}

.widget-list-items [data-attribute] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.widget-list-items .item:nth-child(odd) {
  background-color: #fafafa;
}

.widget-list-items .attribute {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.widget-list-items .actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
}

.widget-list-items .action {
  display: block;
  position: relative;
  padding: 5px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50px;
  line-height: 1px;
  transition: all 160ms ease;
}

.widget-list-items .action:not(:nth-last-child(1)) {
  margin-right: 5px;
}

.widget-list-items .action:hover {
  transform: scale(1.2);
}


/* Widget Alpha - Início
/* ******************************************** */

.widget-alpha > .widget-header {
  padding: 30px;
  width: calc(100% - 60px);
}

.widget-alpha > .widget-header::after {
  display: none;
}

.widget-alpha > .widget-content {
  display: block;
  padding: 0;
}

.widget-alpha .widget-title {
  color: #6B6B6B;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.5pt;
  text-transform: none;
}

.widget-alpha .widget-description {
  position: relative;
  padding: 0;
  margin: 5px 0;
  color: #6B6B6B;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}

/* Widget Alpha - Fim
/* ******************************************** */


/* Widget Beta - Início
/* ******************************************** */

.widget-beta .widget-header {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.widget-beta .widget-header::after {
  display: none;
}

.widget-beta .widget-title {
  font-size: 12px;
  text-transform: uppercase;
}

.widget-beta .widget-content {
  padding: 0;
  width: 100%;
}

/* Widget Beta - Fim
/* ******************************************** */


/* Widget Picture - Início
/* ******************************************** */

.widget-picture {
  width: 300px;
}

.widget-picture .widget-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.widget-picture .preview-picture {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}

.widget-picture .preview-picture input {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-bottom: none;
}

.widget-picture .preview-picture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(56%, rgba(255,255,255,0)), color-stop(68%, rgba(255,255,255,0.67)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.67) 68%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.widget-picture .preview-picture-overlay::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 160ms ease;
}

.widget-picture:hover .preview-picture-overlay::after {
  background-color: rgba(0, 0, 0, 0.1);
}

.widget-picture .picture-message {
  margin: 0 20px;
  color: #464646;
  font-size: 14px;
  text-align: center;
}

/* Widget Picture - Fim
/* ******************************************** */


/* Widget Buttons - Início
/* ******************************************** */

.widget-buttons {}

.widget-buttons .widget-content {
  padding: 0;
}

.widget-buttons .btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  font-size: 14px;
  font-weight: 400;
}

/* Widget Buttons - Fim
/* ******************************************** */


/* Widget Post Editor - Início
/* ******************************************** */

.widget-post-editor {}

.widget-post-editor .widget-content {
  padding: 15px;
  width: calc(100% - 30px);
}

.widget-post-editor .inputs {
  width: 100%;
}

/* Widget Post Editor - Fim
/* ******************************************** */













